<h1>new page</h1>
<div class="container">
  <h1 class="title">Create a new Review</h1>

    <div class="review-card">
      <%= simple_form_for [@restaurant, @review] do |f| %>
      <%= f.input :content, class: "input"%>
      <%= f.input :rating, class: "input"%>
      <%= f.submit "add review", class: "btn btn-primary"%>
      <% end %>
    </div>
</div>
